.wrapper {
  background: #b6ebff;
  background: linear-gradient(90deg, #b6ebff 17%, #c59aed 96%);
}

.headerContainer {
  text-align: center;
}

.itemsContainer {
  overflow-x: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
@media (max-width: 768px) {
  .list {
    width: 2188px;
    margin-bottom: 5px;
  }
}

.itemContainer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  .itemContainer {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .itemContainer {
    display: inline-block;
  }
}

.item {
  display: flex;
  justify-content: center;
  border: 1px solid silver;
  margin-bottom: 2vh;
  flex-basis: 98%;
  border-radius: 15px;
  padding-top: 2vh;
  background: #bcdaff;
  background: radial-gradient(circle, #bcdaff 17%, #e5f2ff 96%);
}
@media (max-width: 1200px) {
  .item {
    margin-bottom: 1vh;
  }
}
@media (max-width: 992px) {
  .item {
    position: relative;
    padding-top: 3vh;
  }
}
@media (max-width: 768px) {
  .item {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    padding: 3px;
  }
}
@media (orientation: landscape) and (max-width: 992px) and (min-width: 769px) {
  .item {
    padding-top: max(2vh, 27px);
  }
}

.date {
  margin: 0 10px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .date {
    position: absolute;
    left: 40px;
    top: 5px;
    background: bisque;
    padding: 0 10px;
    margin: 0;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .date {
    position: relative;
    left: 15px;
    width: fit-content;
  }
}

.descriptionContainer {
  flex-basis: 200px;
  margin: 0 10px;
}
@media (max-width: 992px) {
  .descriptionContainer {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .descriptionContainer {
    flex-basis: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.description {
  text-align: center;
  font-weight: 600;
}
@media (max-width: 768px) {
  .description {
    display: flex;
    align-items: center;
  }
}

.iconContainer {
  text-align: center;
}

.icon {
  width: 85px;
  height: 85px;
}
@media (max-width: 768px) {
  .icon {
    width: 57px;
    height: 57px;
  }
}

.temperaturesBlock {
  display: flex;
}
@media (max-width: 768px) {
  .temperaturesBlock {
    padding: 5px 0;
    border-top: 1px solid white;
  }
}

.tempNamesInfo {
  margin: 0 10px;
  padding-top: 23px;
}
@media (max-width: 1200px) {
  .tempNamesInfo {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 992px) {
  .tempNamesInfo {
    margin: 0 3px 0 0;
  }
}

.tempName {
  padding-top: 5px;
}
@media (max-width: 992px) {
  .tempName {
    padding-top: 0;
    display: none;
  }
}

.tempName992 {
  display: none;
}
@media (max-width: 992px) {
  .tempName992 {
    padding-top: 3px;
    display: flex;
  }
}

.tempContainer {
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 1200px) {
  .tempContainer {
    margin: 0 5px;
    width: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .tempContainer {
    margin: 0;
  }
}

.timeName {
  text-align: center;
}

.temperature {
  padding-top: 5px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .temperature {
    font-weight: 600;
  }
}

.feelsLike {
  padding-top: 5px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .feelsLike {
    font-weight: 600;
  }
}

.propsBlock {
  display: flex;
}
@media (max-width: 768px) {
  .propsBlock {
    border-top: 1px solid white;
    padding: 5px 0;
    justify-content: center;
  }
}

.propContainer {
  margin: 0 10px;
  width: 99px;
}
@media (max-width: 1200px) {
  .propContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 0 3px;
  }
}
@media (max-width: 992px) {
  .propContainer {
    margin: 0;
  }
}

.name {
  text-align: center;
}

@media (max-width: 1200px) {
  .windName {
    overflow: hidden;
    height: 22.5px;
  }
}

.wind {
  padding-left: 23px;
  padding-top: 5px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .wind {
    font-weight: 600;
    padding: 5px 0 0 0;
  }
}

.humidity {
  padding-left: 30px;
  padding-top: 5px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .humidity {
    font-weight: 600;
    padding: 5px 0 0 0;
  }
}

@media (max-width: 1200px) {
  .pressurePropContainer {
    width: 105px;
  }
}

.pressure {
  text-align: center;
  padding-top: 5px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .pressure {
    font-weight: 600;
  }
}

/*# sourceMappingURL=DailyForecastInfo.module.css.map */
