.wrapper
  background: rgb(241,236,250)
  background: radial-gradient(circle, rgba(241,236,250,1) 0%, rgba(60,154,233,1) 100%)


.container


.location
  text-align: center
  position: relative
  width: 100%
  height: 11vh
  @media (max-width: 992px)
    height: 9vh

.header
  padding: 0
  line-height: 1
  color: black
  text-decoration: black underline
  position: absolute
  z-index: 2
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.flagL
  position: absolute
  top: 0
  left: 0
  height: 100%
  z-index: 1

.flagR
  position: absolute
  top: 0
  right: 0
  height: 100%

